* {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.body {
  background-color: green;
}

.container {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #DDD;
  border: 5px solid black;
  border-radius: 15px;
}
